#navbar {
    background-color: #e9ecef !important;
    padding-bottom: 10px;
}

#brief {
    padding-top: 15px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #768A95;
}

.whitespace {
    padding-bottom: 30px;
    color: #768A95;
}

#brief {
    margin-top: 20px;
}

#aboutjumbo {
    border-radius: .3rem;
}

.row {
    padding-bottom: 25px;
}

#contact {
    background-color: #e9ecef;
    border-radius: .3rem;
}